@import url('./__element/photo-grid__element.css');
@import url('./__figure/photo-grid__figure.css');
@import url('./__img/photo-grid__img.css');
@import url('./__text/photo-grid__text.css');
@import url('./__textblock/photo-grid__textblock.css');
@import url('./__like-button/photo-grid__like-button.css');
@import url('./__delete-button/photo-grid__delete-button.css');
@import url('./__like-button/_liked/photo-grid__like-button_liked.css');
@import url('./__likeblock/photo-grid__likeblock.css');
@import url('./__like-counter/photo-grid__like-counter.css');

.photo-grid {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  column-gap: 18px;
  row-gap: 20px;
}